<p id="notice"><%= notice %></p>

<div class="panel panel-default widget">
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 col-md-1">
                        <%=image_tag @post.user.image.url(:thumb) if @post.user.image?%>
                    </div>
                    <div class="col-xs-10 col-md-11">
                        <div>
                            <div class="mic-info">
                                 <a href="?user=<%=@post.user.id%>"> <%=@post.user.name%> </a> <%=@post.created_at%>
                            </div>
                        </div>

                        
                        <div class="comment-text">
                            <%=@post.title%> <br/>
                            <%=image_tag @post.image.url(:medium),class:"img img-responsive" if @post.image?%>
                            <br/>
                            <%=@post.msg%>
                        </div>
                          
                        <div class="action">
                            <div id="<%=@post.id%>">
                             <%if Like.where(user:current_user, post:@post).count>0%>
                             <%= link_to "", unlike_post_path(@post), class:"glyphicon glyphicon-heart",remote: :true, method: :put %>
                            <%else%>
                            <%= link_to "", like_post_path(@post), class:"glyphicon glyphicon-heart-empty",remote: :true, method: :put %>
                            <%end%>
                            </div>
                        </div>
                                                                        
                         <h4><%=@post.likes.count%> kişi bunu beğendi 
                            <% if @post.comments.count>0%>
                            ve <%=@post.comments.count%> kişi yorum yaptı. 
                            <%end%>    
                         </h4>
                        
                        <%=render 'comments/form'%>
                        <div id="comments">
                        <%@comments.each do |c|%>
                        <div class="container">
                          <div class="media">
                            <div class="media-left">
                              <%=image_tag c.user.image.url(:thumb),class:"media-object",style:"width:45px" if c.user.image?%> 
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading"><%=c.user.name%><small><i><%=c.created_at%></i></small></h4>
                              <p><%=c.bdy%></p>
                            </div>
                          </div>
                          <br>
                        </div>
                        <%end%>
                    </div>
                </div>  
            </li>
        </ul>
    </div>
</div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Tüm Hakları Saklıdır. &copy; Elif Tuğçe Demir 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


